[build]
  command = "pnpm build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NODE_VERSION = "20"

[dev]
  command = "pnpm dev"
  targetPort = 5173
  autoLaunch = false
